@import url("../webgl-tutorial.css");
body {
    margin: 20px;
  }
  canvas {
    width: 100%;
    height: 50vh;
    display: block;
  }

  #uiContainer {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 3;
    font-family: monospace;
    pointer-events: none;
  
    text-shadow:
     -1px -1px 0 #FFF,
      1px -1px 0 #FFF,
      -1px 1px 0 #FFF,
       1px 1px 0 #FFF;
  }